
<div class="table-responsive">
<table class="table">
	<thead>
		<tr>
			<td>Employee:</td>
			<td>Email:</td>
			<td>Assignment:</td>
			<td>Remove:</td>
		</tr>
	</thead>
	<tbody>
		<% Employee.all.order('assignment').reverse.each do |employee| %>
			<tr>
				<td><%= link_to "#{employee.first_name } #{employee.last_name}", edit_admin_employee_path(employee), remote: true  %><small class="text-muted">(edit)</small></td>
				<td><%= mail_to employee.email %></td>
				<td><%= employee.assignment %></td>
				<td><button class="btn btn-danger btn-block btn-delete">Delete</button>
				<div class="delete-confirm">
					<div class="well text-center">
						<h3 class="danger-text">Please confirm! This action cannot be undone.</h3>
						<%= link_to 'Yes, Remove Employee', admin_employee_path(employee), method: :delete, remote: true, class: 'btn btn-danger delete-confirm-button' %>
					</div>
				</div></td>
			</tr>

			
		<% end %>
	</tbody>
</table>
</div>
