
<% if Task.all.empty? %>
	<h3 class="text-center">Add a new task</h3>
<% end %>

<ul class="supports">
	<% Task.all.reverse.each do |task| %>
		<li>
			<h5><%= link_to task.name.titleize, edit_admin_task_path(task), remote: true, class: 'edit-task'  %> 
				<span class="label label-warning">Submited by: <%= task.admin.fullname %></span>
			</h5>
			<div class="task-actions">
					<button class="btn btn-info btn-delete">Delete</button>
						<div class="delete-confirm">
							<div class="well text-center">
								<h3 class="danger-text">Has <strong><%= task.name %></strong> been completed?</h3>
								<%= link_to 'Yes, Remove Task', admin_task_path(task), method: :delete, remote: true, class: 'btn btn-success delete-confirm-button' %>
							</div>
						</div>
				</div>
		</li>


	<% end %>
</ul>