@font-face {
    font-family: 'Museo300Regular';
    src: font-url('Museo300-Regular-webfont.eot');
    src: font-url('Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Museo300-Regular-webfont.woff') format('woff'),
         font-url('Museo300-Regular-webfont.ttf') format('truetype'),
         font-url('Museo300-Regular-webfont.svg#Museo300Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo700Regular';
    src: font-url('Museo700-Regular-webfont.eot');
    src: font-url('Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Museo700-Regular-webfont.woff') format('woff'),
         font-url('Museo700-Regular-webfont.ttf') format('truetype'),
         font-url('Museo700-Regular-webfont.svg#Museo700Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo500Regular';
    src: font-url('Museo500-Regular-webfont.eot');
    src: font-url('Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Museo500-Regular-webfont.woff') format('woff'),
         font-url('Museo500-Regular-webfont.ttf') format('truetype'),
         font-url('Museo500-Regular-webfont.svg#Museo500Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_slab500';
    src: font-url('Museo_Slab_500_2-webfont.eot');
    src: font-url('Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Museo_Slab_500_2-webfont.woff') format('woff'),
         font-url('Museo_Slab_500_2-webfont.ttf') format('truetype'),
         font-url('Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'MuseoSans-500';
  src: font-url('2BDD9F_0_0.eot');
  src: font-url('2BDD9F_0_0.eot?#iefix') format('embedded-opentype'),font-url('2BDD9F_0_0.woff') format('woff'),font-url('2BDD9F_0_0.ttf') format('truetype');
}