<div class="panel panel-default">
	<div class="panel-heading">
		<h4>
			Active Pages 
			<%= link_to 'Add Page', new_admin_page_path,  class: 'add-new-link btn btn-primary'  %>
		</h4>
		<div class="panel-action">
			<i class="fa fa-angle-up close-body"></i>
		</div>
	</div>
	<div class="panel-body">
		<% @pages.publish.order('created_at').each do |page| %>
			<div class="page clearfix">
				<h4><%= link_to page.permalink.titleize, edit_admin_page_path(page), 'data-no-turbolink' => true %> <small class="text-muted">(edit)</small> </h4>
				<div class="page-actions">
					<button class="btn btn-danger btn-delete">Delete</button>
					<div class="delete-confirm">
						<div class="well text-center">
							<h3 class="danger-text">Please confirm! This action cannot be undone.</h3>
							<%= link_to 'Yes, Delete Page', admin_page_path(page), method: :delete, class: 'btn btn-danger delete-confirm-button' %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
		<div class="page clearfix">
			<h4>Contact <small>(Not Editable)</small></h4>
		</div>
	</div>
</div>