<div class="panel panel-default">
	<div class="panel-heading">
		<h4>
			Submit Support Ticket 
		</h4>
		<div class="panel-action">
			<i class="fa fa-angle-up close-body"></i>
		</div>
	</div>
	<div class="panel-body">
		<% Support.all.each do |support| %>
			
		<% end %>
	</div>
</div>