<div class="templates">

	<!-- Template Item -->
	<div id="cm-block-1">
		<section>
			<div class="row">
				<article>
					<p>
						<img class="pull-left" src="https://rcocpa.s3.amazonaws.com/images/uid/2014/08/31/20/17/15/34/letter_r.png" alt="Ritter">itter &amp; Company, LLC is committed to providing our clients with the highest quality services in a cost effective &amp; timely manner.<a href="/about"><img class="pull-right" src="https://rcocpa.s3.amazonaws.com/images/uid/2014/08/31/20/18/11/949/R_C_HOME_07.png" alt="Learn More"> </a>We have the unique ability to listen to our clients &amp; develop insights into their operation and long-term goals. We have an established reputation for professionalism &amp; technical excellence.</p>
				</article>
			</div>
		</section>
	</div>
	<!-- End Template Item -->

	<!-- Template Item -->
	<div id="cm-block-2">
		<section class="video">
			<div class="row">
				<p class="text-center">
					<img class="video-link" src="https://rcocpa.s3.amazonaws.com/images/uid/2014/09/01/02/07/43/121/video_link.png" alt="Our Video">
				</p>
				<div class="col-md-8 col-md-offset-2 video-wrap">
					<video controls="controls">
						<source src="https://s3-us-west-2.amazonaws.com/rcocpa/video.mp4">
						<source src="https://s3-us-west-2.amazonaws.com/rcocpa/video.webm">
						Your Browser Does Not Support This Video.
					</video>
				</div>
			</div>
		</section>
	</div>
	<!-- End Template Item -->

	<!-- Template Item -->
	<div id="cm-block-3">
		<section class="staff-partners">
			<h1 class="text-center">Meet The Partners</h1>
			<div class="row">
				<div class="col-md-5 col-sm-5">
					<img src="https://rcocpa.s3.amazonaws.com/images/uid/2014/09/01/02/10/46/591/terri.jpg" alt="Ritter &amp; Company Partner | Terri">
				</div>
				<div class="col-md-7 col-sm-7">
					<h2>Terri L. French</h2>

					<p>Terri is a Certified Public &nbsp;Accountact licensed to practice in New Mexico and Texas. She is a member Of the American Institute of Certified Public Accountants, the New Mexico Society of CPA's and the Texas Society of CPA's. Terri joined Ernst &amp; Young, Ritter &amp; Company, LLC's predecessor firm, in January 1986 after graduation from Eastern New Mexico University in 1985.</p>

					<p>She serves a variety of clients in various industries, including construction, retial, financial services, oil and gas and agriculture. She has extensive experience in individual, partnership, corporate and fiduciary taxation, as well as compilation, reviews and audits of financial statements.</p>
					
					<p>Terri's civic and community involvement includes serviing as a board member of the Roswell Chamber of Commerce, Southeastern New Mexico Historical Society, Goddard High School sport booster clubs, GHS Project Graduation, coaching youth sports and she is an active meber of First Baptist Church in Roswell and a member in the New Mexico Independent Petroleum Association. She has served as a board member and director of Noon Optimist Little League, Girl Scouts - Zia Council, Roswell Chilld Care Resource and Referral and is an alumni of Leadership Roswell. Terri Received the 2011 Outstanding Member in COmmunity Service Award from the New Mexico Society of Certified Public Accounting. Terri and her husband Rand have three children, Ryan, Cody and Allie.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-sm-5">
					<img src="https://rcocpa.s3.amazonaws.com/images/uid/2014/09/01/02/11/15/384/francisco.jpg" alt="Ritter &amp; Company Partner | Francisco">
				</div>
				<div class="col-md-7 col-sm-7">
					<h2>Francisco A. Olvera</h2>
					<p>Francisco is a Certified Public Accountant licensed to practice in New Mexico. He is a member of the American Institute of Certified Public Accountants and the New Mexico Society of CPA's. He joined Ritter &amp; Company, LLC in 1991 after graduation from New Mexico State University with a Bachelor of Accountancy.</p>

					<p>Francisco has spent most of his public accounting career working with medium and smal sized companies and emerging businesses with outstanding opportunities and growth potential. He has served a variety of clients including those in industries such as financial institutions, oil and gas, manufacturing, wholesale/retail, healthcare, construction, agriculture and employee benefit plans and has provided services to several publicly held companies. His experience includes various acquisitions and mergers of privately held companies. He serves as partner on all of Ritter &amp; Company's auditing, review and compilation engagements.</p>
			
					<p>Francisco is very active in the community serving as board member and/or financial advisor to various charitable and non-profit organizations such as Big Brothers Big Sisters of Southeastern New Mexico, Community Foundation of Chaves County, Conqustador Council Boy Scouts of Amercia, the independent Petroleum Association of New Mexico, All Saints Catholic School, the Roswell Rotary Club and is an active member of Assumption Catholic. Francisco and his wife have three children, Christopher, Hannah and Mary Kathryn.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-sm-5"><img src="https://rcocpa.s3.amazonaws.com/images/uid/2014/09/01/02/11/50/730/karen.jpg" alt="Ritter &amp; Company Partner | Karen">
				</div>
				<div class="col-md-7 col-sm-7">
					<h2>Karen Rogers Melton</h2>
					
					<p>Karen is a Certified Public Accountant, licensed to practice in New Mexico. She is a member of the American Institute of Certified Public Accountants and the New Mexico Society of CPA's. She joined Ernst &amp; Young, Ritter &amp; Company, LLC's predecessor firm in 1988 after graduating from New Mexico State University in 1987 with a Bachelor of Accountancy degree. Prior to joining the firm she worked at Havard Petroleum Corporation.</p>
					
					<p>Karen serves a variety of clients in oil and gas, financial institutions as well as a variety of not for profit organizations. She has extensive experience in all forms of income tax preparation and review as well as preparation of estate income tax returns.</p>
					
					<p>Karen has had extensive civic and community involvement and won the 2004 Community Service Award that is presented annually by the New Mexico Society of CPA's to one CPA in the state that demonstrates oustanding community volunteerism. Karen is married to Ray Melton and they have two boys, Reese and Raynen.</p>
				</div>
			</div>
		</section>
	</div>
	<!-- End Template Item -->

	<!-- Template Item -->
	<div id="cm-block-4">
		<section>
			<h1 class="text-center">Who we are <span class="text-lowercase">and</span> Where We Come From</h1>

			<article class="row">
				<p>
					<img class="pull-left" src="https://rcocpa.s3.amazonaws.com/images/uid/2014/08/31/19/49/20/907/letter_r.png" alt="Ritter">itter &amp; Company, LLC is the former Roswell, New Mexico office of Ernst &amp; Young. On May 1, 1991 Enrst &amp; Young made the decision to close its practice in New Mexico. As a result, the Roswell practice was purchased by Bruce D. Ritter, former managing partner of Ernst &amp; Young and is now known as Ritter &amp; Company, LLC. In January of 2010 Bruce Ritter passed away, and three long time executives of the firm, Terri L. French, CPA, Karen Rogers Melton, CPA and Francisco A. Olvera, CPA Purchased the firm.</p>
				
				<p>
					Presently, there are eight professionals in the firm, of which four are licensed certified public accountants. Ritter &amp; Company, LLC is a professional service firm which provides accounting, income tax, consulting, estate and trust tax planning, financial planning, bookkeeping and litigation support services to a variety of clients in various industries in New Mexico and other states in Arizona, California, Colorado, and Texas. We have a wide background of experience in providing diversified services to privately and publicly held companies and individuals.</p>
				
				<p>
					The firm's background as a "Big 6" firm, along with the personalized client contact and responsiveness afforded by a local firm, makes Ritter &amp; Company, LLC valued business advisors and counselors. Our professionals have the unique ability to listen to clients and develop insights into their operations and long-term goals. As our clients prepare for doing business in the 21st century, we seek to reduce their risk of tax exposure and assist in evaluating greater business opportunities. Our practice is to be available at all times to discuss any matters during the year when you require our assistance or simply want a sounding board for a new idea. We are committed to helping our clients achieve results.</p>
			</article>
		</section>
	</div>
	<!-- End Template Item -->

	<!--  Template Item -->
	<div id="cm-block-5">
		<section>
			<article class="row">
				<h1 class="text-center">Services Provided</h1>
				<p>
					<img class="pull-left" src="https://rcocpa.s3.amazonaws.com/images/uid/2014/08/31/19/55/21/544/letter_r.png" alt="Ritter">itter &amp; Company, LLC clients range from those with simple individual tax returns and financial statement compilation, to complex corporate tax returns of companies with annual revenues in excess of $840 million and having over 2,000 employees.</p>
			</article>

			<article class="row">
				<h3 class="font500sans">SERVICES INCLUDE:</h3>
				<ol class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 font500">
					<li>Accounting Services</li>
					<li>Auditing Services</li>
					<li>Tax Services</li>
					<li>Business Consulting</li>
					<li>Litigation &amp; Support Services</li>
					<li>Estate Planning</li>
				</ol>
			</article>

			<article class="row font500">
				<p><em>Other services provided are family wealth preservation planning and family business succession planning. These areas of expertise enable our clients the opportunity to plan now in area that will benefit their families for future generations.</em></p>
			</article>
		</section>
	</div>

	<!-- End Template Item -->

	<!-- Template Item -->
	<div id="cm-block-6">
		<section>
			<article class="row">
				<h1 class="text-center">Industries Served</h1>
				<p>
					<img class="pull-left" src="https://rcocpa.s3.amazonaws.com/images/uid/2014/08/31/19/56/17/830/letter_r.png" alt="">itter &amp; Company, LLC remains the leading edge of the accounting profession in New Mexico by using a dual approach. We consistently look for new individuals in New Mexico who are in need of quality, timely accounting and consulting expertise and are allows focused on identifying potential problems within our existing clients' operations and providing innovative solutions.</p>
			</article>
			<div class="row">
				<div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 font500">
					<p><em>THE END RESULT OF OUR WORK AND DEDICATION TO OUR CLIENTS IS A DIVERSE CLIENT BASE RANGING FROM:</em></p>
				</div>
			</div>
			<div class="row">
				<ol class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 font500">
					<li>Finanical Institutions</li>
					<li>Oil &amp; Gas Industry</li>
					<li>Agricultural</li>
					<li>Retail &amp; Wholesale Operations</li>
					<li>Construction</li>
					<li>Medical &amp; Health Services</li>
					<li>Real Estate</li>
					<li>Manufacturing</li>
					<li>Insurance</li>
					<li>Hospitality</li>
					<li>Professional Services</li>
				</ol>
			</div>
		</section>
	</div>
	<!-- End Template Item -->

	<!-- Template Item -->

	<div id="cm-block-7">
		<section class="text-center">
			<div class="row">
				<p><img src="https://rcocpa.s3.amazonaws.com/images/uid/2014/09/01/01/44/22/456/world.png" alt="helpful links"></p>
				<h1>Useful Links From Around The Web</h1>
				<p><em>(for your convenience)</em></p>
			</div>
			<div class="row">
				<ul class="links">
					<li><a href="http://www.tax.newmexico.gov/" target="_blank">NEW MEXICO TAXATION &amp; REVENUE DEPARTMENT</a></li>
					<li><a href="http://www.irs.gov/" target="_blank">INTERNAL REVENUE SERVICE</a></li>
					<li><a href="http://www.aicpa.org/" target="_blank">AMERICAN INSTITUTE OF CPAS</a></li>
					<li><a href="http://www.rld.state.nm.us/" target="_blank">NEW MEXICO PUBLIC ACCOUNTANCY BOARD</a></li>
					<li><a href="http://www.roswellnm.org/" target="_blank">ROSWELL CHAMBER OF COMMERCE</a></li>
					<li><a href="http://www.artesiachamber.com/" target="_blank">ARTESIA CHAMBER OF COMMERCE</a></li>
					<li><a href="http://www.ipanm.org/" target="_blank">INDEPENDENT PETROLEUM ASSOCIATION OF N.M.</a></li>
					<li><a href="http://www.nmagriculture.org/" target="_blank">NEW MEXICO CATTLE GROWERS' ASSOCATION</a></li>
					<li><a href="http://www.bloomberg.com/news/" target="_blank">BLOOMBERG NEWS</a></li>
				</ul>
			</div>
		</section>
	</div>
	<!-- End Template Item -->

	<!-- Template Item -->

	<div id="cm-block-8">
		<section>
			<div class="row">
				<h1 class="text-center">Career Opportunites</h1>
				<p>
					<img class="pull-left" src="https://rcocpa.s3.amazonaws.com/images/uid/2014/08/31/19/57/56/788/letter_c.png" alt="Currently">urrently, Ritter &amp; Company, LLC, has positions open for a&nbsp;<strong class="font700">Staff Tax Accountant</strong> and a&nbsp;<strong class="font700">Senior Tax Accountant</strong> in our Roswell office. Qualified candidates will have a Bachelor's degree in Accounting, CPA license or CPA candidate, (a minimum of 3 years of experience for the Senior Tax Accountanct position).</p>
				<p class="font700">
					<em>We offer a competitive salary and benefits package. Benefits include health insurance, life insurance, 401K and paid time off. If you are looking for a fast paced but casual environment offering a great opportunity for advancement, send your resume and cover letter to our Administrative Manager, Jim Hill at&nbsp;<a href="mailto:jhill@rcocpa.com">JHILL@RCOCPA.COM</a></em></p>
			</div>
		</section>
	</div>
	<!-- End Template Item -->

	<!-- Template Item -->

	<div id="cm-block-9">
		<section class="extend-break">
			<div class="row">
				<h1 class="text-uppercase"><img class="pull-left" src="https://rcocpa.s3.amazonaws.com/images/uid/2014/08/31/20/21/36/936/home_letter.png" alt="Newsletter">Stay Connected with R&amp;C <br> Sign up for our newsletter</h1>
			</div>
			<div id="home-newsletter" class="row text-center">
				<form id="newsletter_form" class="simple_form form-inline" accept-charset="UTF-8" action="/newsletters" method="post" novalidate="novalidate" data-remote="true">
					<h3 class="text-center">Simply Enter Your Name and Email</h3>
					<div style="margin: 0; padding: 0; display: inline;">
						<input name="utf8" type="hidden" value="✓">
					</div>
					<div class="errors-newsletter">
						<div class="alert alert-warning alert-dismissible"><strong>Warning!</strong></div>
					</div>
					<div class="sent-newsletter">
						<div class="alert alert-success">
							<button class="close" type="button" data-dismiss="alert">×<span class="sr-only">Close</span></button> <strong>&nbsp;</strong>
						</div>
					</div>
					<div class="control-group string required newsletter_name form-group">
						<div class="controls">
							<input id="newsletter_name" class="string required form-control" name="newsletter[name]" type="text" placeholder="Name">
						</div>
					</div>
					<div class="control-group email required newsletter_email form-group">
						<div class="controls">
							<input id="newsletter_email" class="string email required form-control form-control" name="newsletter[email]" type="email" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<input class="btn custom-submit" name="commit" type="submit" value="">
					</div>
				</form>
			</div>
		</section>
	</div>
	<!-- End Template Item -->

	<!-- Template Item -->
	<div id="cm-block-10">
		<section>
			<div class="row">
				<article>
					<p>People make the difference in any professional relationship. In recognition of the significance Ritter &amp; Company places on their clients, they have carefully created a team that combines in-depth knowledge of the industries they serve and the practical experience in meeting the challenges facing companies today. Their team's enthusiasium and commitment ensure responsive, innovative, and forward-looking service.</p>
				</article>
				<blockquote>
					<p class="text-center">The best professional services delivered by the best people that is what Ritter &amp; Company, LLC will bring you.</p>
				</blockquote>
			</div>
		</section>
	</div>
</div>
<!-- End Templates -->
