<% heading "Admin: #{@admin.first_name} #{@admin.last_name}" %>
<div class="row admin-content">
	<div class="col-md-6 col-md-offset-3 text-center">
		<%= image_tag avatar_url(@admin, 80), width: '80', height: '80', class: 'avatar' %>
	    <h4><%= @admin.email %></h4>
	</div>
</div>
<% unless @admin.has_role? :developer %>
	<button class="btn btn-danger btn-delete">Delete</button>
		<div class="delete-confirm">
			<div class="well text-center">
				<h3 class="text-danger">Please confirm! This action cannot be undone.</h3>
				<%= link_to 'Yes, Delete Admin', cms_admin_path(@admin), method: :delete, class: 'btn btn-danger delete-confirm-button' %>
			</div>
		</div>

<%= render 'form' %>

<% else %>
	<h2 class="text-center">
		You cannot edit this admin
		<br> 
	</h2>
<% end %>