
h1, h2, h3, h4, h5, h6 { font-family: 'Museo500Regular' }

.wrapper { background-color:#fff; }

.content { 
  position:relative; 
  background-color:#fff; 
  width:100%; 
  height:auto; 
  border-top:10px solid transparent; 
  top: -10px; 
}